/*  =========== Hero Section ============= */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  color: #fff;
  padding: 16px 8px;
  min-height: 80vh;
  background-color: #33302b;
  min-width: 320px;
}

.hero > * {
  margin-left: 24px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 760px) {
  .text {
    font-size: 1.4rem;
  }

  .title {
    font-size: 2.5rem;
  }
}
