/*  =========== Hero Section ============= */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-basis: 90%;
  color: #fff;
  padding: 16px 8px;
  min-height: 80vh;
  background-color: #8bc6ec;
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  background-color: #33302b;
}

.hero > * {
  margin-left: 24px;
}

.hero > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero > span {
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 80%;
}
