:root {
  --blue: #374e8d;
  --red: #ed0f0f;
  --black: #050402;
  --decorator: #efdecd;
}

.app {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header "
    "main main "
    "footer footer ";
  min-height: 100vh;
  gap: 12px;
  padding: 0 12px;
}

.container {
  display: grid;
  grid-template-rows: repeat(minmax(0.8fr, 1fr)); /* Corrected syntax */
  grid-area: main;
  align-items: flex-start;
  padding: 64px 7px 0;
  gap: 8px;
  margin-top: 64px;
  width: 100%;
}

/* Small Tablet styles */
/* @media screen and (min-width: 500px) {
  .app {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "header header header header header header"
      "... main main main main ..."
      "footer footer footer footer footer footer";
  }
} */
/* Large Tablet styles */
@media (min-width: 690px) {
  .app {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "header header header header header header header header"
      "... main main main main main main ..."
      "footer footer footer footer footer footer footer footer";
  }
}
/* laptop styles */
@media (min-width: 960px) {
  .app {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      " header header header header header header header header header header header header  "
      " ... main main main main main main main main main main ... "
      " footer footer footer  footer footer footer footer footer footer footer footer footer ";
  }
}
