:root {
  --blue: #374e8d;
  --red: #ed0f0f;
  --black: #050402;
  --decorator: #efdecd;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main  main main"
    "footer footer footer footer";
  width: 100vw;
  min-height: 100vh;
  gap: 12px;
  padding: 0 12px;
}

.app__container {
  display: grid;
  grid-area: main;
  align-items: flex-start;
  padding: 64px 7px 0;
  gap: 8px;
  margin-top: 64px;
  width: 100%;
}

@media screen and (min-width: 690px) {
  .app {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "header header header header header header header header"
      "... main main main main main main ..."
      "footer footer footer footer footer footer footer footer";
  }
}

@media screen and (min-width: 960px) {
  .app {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      " header header header header header header header header header header header header  "
      " ... main main main main main main main main main main ... "
      " footer footer footer  footer footer footer footer footer footer footer footer footer ";
  }
}
