.contact__page__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 880px) {
  .contact__page__wrapper {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }
}
