.contact__page__container {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner "
    "contactForm contactForm ";
  gap: 2rem;
  grid-template-rows: 0.4fr 1fr;
}

/* Page wrapper */

.contact__page__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  /* grid-column: 1 / 3;
  grid-row: 2 / 3; */
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  min-width: 500px;
  grid-area: contactForm;
}

@media (min-width: 880px) {
  .contact__page__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "banner banner banner banner"
      "contactForm contactForm contactForm contactForm";
  }
  .contact__page__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
