.contact__page__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__page__wrapper {
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;

  border-radius: 11px;
}
@media (min-width: 880px) {
  .contact__page__wrapper {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }
}
